## We'll need a server for service DNS over IPv4 and IPv6. This is the default
## configuration for the stack, but you can change it if you want to.
STACK_DNS_IPV4_1=9.9.9.11
STACK_DNS_IPV4_2=149.112.112.11
STACK_DNS_IPV6_1=2620:fe::11
STACK_DNS_IPV6_2=2620:fe::fe:11

## Define the startup timeout for the stack's image service. This will determine how
## long Docker will wait for the image service to start before considering it failed.
STACK_IMAGE_STARTUP_TIMEOUT=10m

## Define our stack key, which will be used as a prefix for all environment variables related to the stack.
## This will allow us to easily identify and manage the environment variables for the stack, and also allow
## us to run multiple stacks on the same machine without conflicts by using different prefixes for each stack.
## The default is 'ai', but you can change this to your desired prefix if you want to. Just make sure to update
## the other environment variables accordingly to use the new prefix if you change it.
STACK_KEY='ai'

## Define the domain for the stack. This will be used to create the network for the stack and to define the host names
## for the services in the stack. The default is "${STACK_KEY}.local", but you can change this to your desired domain
## if you want to. Just make sure to update the other environment variables accordingly to use the new domain if you
## change it. This domain will be used for service discovery within the stack, so it's important to choose a unique
## domain that won't conflict with other services on your network. By using a domain like "${STACK_KEY}.local", we can
## ensure that the services in the stack can easily discover each other using their host names (e.g.,
## "service1.${STACK_DOMAIN}", "service2.${STACK_DOMAIN}", etc.) without conflicts with other services on the network.
STACK_DOMAIN="${STACK_KEY}.local"

## Define the name of our stack.
STACK_NAME="${STACK_KEY}-stack"

## Define the username for Portainer. This will be used to set the username for the Portainer service in the stack.
## This cannot be changed through the environment variable, therefore changing this value has no effect on the stack.
STACK_PORTAINER_USERNAME=admin

## Define our password for Portainer. This will be used to set the password for the Portainer service in the stack.
## The default is a randomly generated 32-character base64 string, but you can change this to your desired password
## if you want to. Just make sure to update the other environment variables accordingly to use the new password if
## you change it.
STACK_PORTAINER_PASSWORD='ChangeMe123!!!$'

## Define the stack's restart policy. This will determine how the stack's services are restarted if they fail.
STACK_RESTART_POLICY=unless-stopped

## Define our IPv4 and IPv6 subnets for the stack. These will be used to create the network for the stack.
STACK_SUBNET_IPV4=172.16.13
STACK_SUBNET_IPV6=fdd0:172:16:13

## Define the timezone for the stack. This will be used by the services in the stack to set their timezone.
## The default is "America/New_York", but you can change this to your desired timezone if you want to.
STACK_TIMEZONE=America/New_York

## Define the list of language models to load into Ollama. This should be a comma-separated list of model names and
## their corresponding sizes, in the format "model_name:model_size". For example,
## "gemma3:4b,qwen2.5-coder:7b,codegemma:2b". The default is "gemma3:4b,qwen2.5-coder:7b,codegemma:2b", but you can
## change this to your desired list of models if you want to.
STACK_OLLAMA_DEFAULT_MODEL=gemma3:4b
STACK_OLLAMA_MODEL_LIST=gemma3:4b,qwen2.5-coder:7b,codegemma:2b

## Define the list of image generation models to load into the image service. This should be a comma-separated list of
## model names. For example, "DreamShaper_8_pruned.safetensors". The default is "Lykon/dreamshaper-xl-lightning", but
## you can change this to your desired list of models if you want to. Just make sure to update the other environment
## variables accordingly to use the new list of models if you change it.
STACK_SDNEXT_MODEL_LIST="https://huggingface.co/Lykon/dreamshaper-xl-lightning/resolve/main/DreamShaperXL_Lightning-SFW.safetensors"
STACK_SDNEXT_MODEL_PATH="/mnt/models/Stable-diffusion"

## Define the administrator credentials for the AI frontend service. These will be used to set the administrator email,
## password, and name for the AI frontend service. The default email is "admin@${STACK_DOMAIN}", the default password
## is a randomly generated 32-character base64 string, and the default name is "System Administrator". You can change
## these to your desired values if you want to. Just make sure to update the other environment variables accordingly
## to use the new values if you change them. The administrator credentials are important for accessing the AI frontend
## service and managing the stack, so it's important to choose secure values for these credentials.
STACK_FRONTEND_WEBUI_ADMIN_EMAIL="admin@${STACK_DOMAIN}"
STACK_FRONTEND_WEBUI_ADMIN_PASSWORD="ChangeMe123!!!$"
STACK_FRONTEND_WEBUI_ADMIN_NAME="System Administrator"

## Define the web secret for the AI frontend service.
STACK_FRONTEND_WEBUI_SECRET_KEY="SomeVeryLongSuperSecretAndRandomStringThatShouldBeChanged"
